@model UserEditModel

@{
    ViewBag.Title = "حذف مستخدم";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-12">
        <div class="card bg-danger">
            <div class="card-body">
                <fieldset class="no-border bg-danger" disabled="disabled">
                    @Html.Partial("_FormEdit", Model, ViewData)
                </fieldset>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.Partial("_DeleteDialog", new DeleteDialog())
                            @Html.ActionLink("الرجوع إلى القائمة", "Index", null, new { @class = "turn_back btn btn-info" })
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.panel -->
        </div>
    </div>
}
