@model ProfileModel

@{
    ViewBag.Title = "تعديل البيانات الشخصية";
}

@using (Ajax.BeginForm(new AjaxOptions()
{
    UpdateTargetId = "ajax-form",
    OnSuccess = "RedirectToIndex()",
    OnBegin = "OnBegin()",
    LoadingElementId = "divLoading"
}))
{
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="ajax-form">
                    @Html.Partial("_Form", Model, ViewData)
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input name="save" type="submit" value="حفظ" class="btn btn-success js-submit" />
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.panel -->
        </div>
    </div>

}
